<select>
    <option selected disabled hidden>Please select an account</option>
    {{#each userAccounts}}
        <option value="{{this.account_number}}">{{this.account_type}} ({{this.account_number}}) - ${{this.balance}}</option>
    {{/each}}
</select>

<div id="transactionsContainer">
    <p>test</p>
    <table id="transactionsTable">
        <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
            <tr>
                <td>{{this.date}}</td>
                <td>{{this.amount}}</td>
                <td>{{this.description}}</td>
                <td>
                    {{#if (eq this.sending_account_id selectedAccount.number)}}
                        Outgoing
                    {{else}}
                        Incoming
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </tbody>
    </table>
</div>